/* --- FONTS --- */

/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inconsolata.woff2') format('woff2');
}

/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inconsolata_bold.woff2') format('woff2');
}
